<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col shadow" style="background: white; padding: 20px;">
        <div class="invoice-logo">
            Administrators
            <div class="lighter">Admins details</div>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Search</label>
                <input ng-model="Search">
            </md-input-container>
        </div>
        <div ng-show="!isLoading">
            <table class="invoice-table" style="width: 100%; margin-top: 15px;">
                <thead>
                <tr>
                    <th class="table-header" style="border-left: 1px solid #C7C7CB;">Name</th>
                    <th class="table-header" style="border-left: 1px solid #C7C7CB;">email</th>
                    <th class="table-header" style="border-left: 1px solid #C7C7CB;">last login</th>
                    <th class="table-header" style="border-left: 1px solid #C7C7CB;"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="admins.length > 0" ng-repeat="a in admins | filter:Search">
                    <td class="table-data" style="border-left: 1px solid #C7C7CB;">
                        {{a.name}}
                    </td>
                    <td class="table-data" style="border-left: 1px solid #C7C7CB;">
                        {{a.email}}
                    </td>
                    <td class="table-data" style="border-left: 1px solid #C7C7CB;">
                        <p ng-bind="a.updated_at | date:'MM/dd/yyyy'"></p>
                    </td>
                    <td  class="table-data" style="border-left: 1px solid #C7C7CB;">
                        <a ng-if="a.email === luser.email"  class="md-button md-raised md-primary" ui-sref="editAdmin({id: '{{a.id}}'})" >Edit</a>
                    </td>
                </tr>
                <tr ng-if="admins.length === 0">
                    <td colspan="5">No Admin found</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-hide="!isLoading">
            <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</div>
