<div style="width:100%" class="invoice-logo">
        <div style="float: left;">
            Playlists
        </div>
        <div ng-if="loaded" style="float: right;">
            <button ui-sref="playlist({channel: '{{playlist.channel_id}}'})" class="md-raised md-button md-primary primary">PLAYLIST</button>
        </div>
    </div>
<div class="mdl-grid layout-xs-column layout-sm-column layout-row" layout-xs="column" layout-sm="column">
    <div class="mdl-cell flex-xs-100 flex-sm-100 flex-100 shadow" flex="100" flex-xs="100" flex-xs="100" style="background: white">
        <div class="panel-header"><i class="mdi mdi-account"></i> EDIT PLAYLIST</div>
        <div class="panel-body forms">
            <div layout="column" ng-cloak class="md-inline-form">
                <md-content layout-padding>
                    <form ng-submit="EditPlaylist()" novalidate name="AttendeeForm">
                       
                        <md-input-container class="md-block" flex>
                            <label>Name</label>
                            <input md-maxlength="200" id="name" name="name" ng-model="playlist.name" required>
                            <div ng-messages="AttendeeForm.name.$error">
                                <div ng-message="required">Playlist Name is required.</div>
                                <div ng-message="md-maxlength">The playlist name has to be less than 200 characters long.</div>
                            </div>
                        </md-input-container>
                      
                        <md-input-container class="md-block" flex>
                            <label>Content type</label>
                            <md-select required name="content_type" ng-model="playlist.content_type">
                                <md-option ng-repeat="d in content_type" value="{{d}}">
                                    {{d}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <button class="md-raised md-button md-primary primary" type="submit" ng-disabled="isProcessing">
                            <span ng-hide="load">Save</span>
                            <span ng-show="load"><md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular></span>
                        </button>
                    </form>
                </md-content>
            </div>
        </div>
    </div>
</div>
