<div ng-show="loaded" class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col" style=" padding: 20px;">
        <div style="width:100%" class="invoice-logo">
            <div style="float: left;">
                <span style="cursor:pointer;" ui-sref="playlist({channel: '{{channelId}}'})" ng-if="channel && channel.name">{{channel.name}}</span>
                <div class="lighter">Playlists and Content</div>
            </div>
            <div style="float: right;">
                <button ui-sref="AddPlaylist({channel: '{{channelId}}'})" class="md-raised md-button md-primary primary">ADD PLAYLIST</button>
                <button ui-sref="AddContent({channel: '{{channelId}}', playlist: 0})" class="md-raised md-button md-primary primary">ADD CONTENT</button>
            </div>
        </div>
    </div>
</div>
<div ng-show="loaded" class="mdl-grid layout-xs-column layout-sm-column layout-row" layout-xs="column" layout-sm="column">
    <div class="mdl-cell flex-xs-100 flex-sm-100 flex-100 shadow" flex="100" flex-xs="100" flex-xs="100" style="background: white">
        <div class="panel-header"> PLAYLISTS</div>
        <div class="panel-body forms"> 
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Search</label>
                    <input ng-model="Search">
                </md-input-container>
            </div>
            <div>
            <table class="invoice-table" style="width: 100%; margin-top: 15px;">
                    <thead>
                    </thead>
                    <tbody>
                    <tr ng-if="playlists.length > 0" ng-repeat="playlist in playlists | filter:Search">
                        <td class="table-data">
                            <p><b>{{playlist.name}}</b></p>
                            <p>{{playlist.content_type}}</p>
                            <p ng-bind="playlist.dateadded | date:'MM/dd/yyyy'"></p>
                        </td>
                        <td  class="table-data">
                            <a ui-sref="content({channel: '{{playlist.channel_id}}',playlist: '{{playlist.id}}'})" >content</a>
                        </td>
                        <td  class="table-data">
                            <a ui-sref="editPlaylist({id: '{{playlist.id}}'})" >
                                <span class=""> <i style="cursor:pointer" class="mdi mdi-pencil"></i></span>
                            </a>
                        </td>
                        <td class="table-data">
                            <a ng-click="DeletePlaylist(playlist,$index);">
                                <span class=""> <i style="cursor:pointer" class="mdi mdi-delete"></i></span>
                            </a>
                        </td>
                    </tr>
                    <tr ng-if="playlists.length === 0">
                        <td colspan="5">No playlists found</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="mdl-cell flex-xs-100 flex-sm-100 flex-50 shadow" flex="50" flex-xs="100" flex-xs="100" style="background: white">
        <div class="panel-header"> CONTENT</div>
        <div class="panel-body forms"> 
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Search</label>
                    <input ng-model="Search">
                </md-input-container>
            </div>
            <table class="invoice-table" style="width: 100%; margin-top: 15px;">
                <thead>
                   <tr></tr>
                </thead>
                <tbody>
                <tr ng-if="contents.length > 0" ng-repeat="content in contents | filter:Search">
                    <td class="table-data">
                        <p><b>{{content.title}}</b></p>
                        <p>{{content.type}}</p>
                        <p>{{content.source}}</p>
                        <p ng-bind="content.dateadded | date:'MM/dd/yyyy'"></p>
                    </td>
                    <td  class="table-data">
                        <a ui-sref="editContent({id: '{{content.id}}'})" >
                            <span class=""> <i style="cursor:pointer" class="mdi mdi-pencil"></i></span>
                        </a>
                    </td>
                    <td class="table-data">
                        <a ng-click="DeleteContent(content,$index);">
                            <span class=""> <i style="cursor:pointer" class="mdi mdi-delete"></i></span>
                        </a>
                    </td>
                </tr>
                <tr ng-if="contents.length === 0">
                    <td colspan="5">No contents found</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div ng-hide="loaded">
    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
</div>