<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col shadow" style="background: white; padding: 20px;">
        <div class="invoice-logo">
            Channels
            <div class="lighter">Channels details</div>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Search</label>
                <input ng-model="Search">
            </md-input-container>
        </div>
        <div ng-show="loaded">
            <table class="invoice-table" style="width: 100%; margin-top: 15px;">
                <thead>
                <tr>
                    <th class="table-header"></th>
                    <th class="table-header"></th>
                    <th class="table-header"></th>
                    <th class="table-header"></th>
                    <th class="table-header"></th>
                    <th class="table-header"></th>
                    <th class="table-header"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="channels.length > 0" ng-repeat="channel in channels | filter:Search">
                    <td class="table-data">
                        <img src="{{channel.avatar.url}}" width="100" height="100" style="border-radius:100px" alt="">
                    </td>
                    <td class="table-data">
                        <p style="font-size:15px;font-weight:bold">{{channel.name}}</p>
                        <p ng-if="channel.email">{{channel.email}}</p>
                        <p ng-if="channel.phone">{{channel.phone}}</p>
                        <p ng-if="channel.address">{{channel.address}}</p>
                        <p ng-if="channel.links.facebook">{{channel.links.facebook}}</p>
                        <p ng-if="channel.links.twitter">{{channel.links.twitter}}</p>
                        <p ng-if="channel.links.instagram">{{channel.links.instagram}}</p>
                        <p> {{channel.about| cut:true:70:' ...'}}</p>
                    </td>
                    <td  class="table-data">
                        <a ui-sref="playlist({channel: '{{channel.id}}'})" >content/playlist</a>
                    </td>
                    <td  class="table-data">
                        <a ui-sref="editChannel({id: '{{channel.id}}'})" >
                            <span class=""> <i style="cursor:pointer" class="mdi mdi-pencil"></i></span>
                            <!--Edit-->
                        </a>
                    </td>
                    <td class="table-data">
                        <a ng-click="DeleteChannel(channel,$index);">
                            <span class=""> <i style="cursor:pointer" class="mdi mdi-delete"></i></span>
                            <!--delete-->
                        </a>
                    </td>

                </tr>
                <tr ng-if="channels.length === 0">
                    <td colspan="5">No channels found</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-hide="loaded">
            <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</div>