<div ng-controller="LoginCtrl" class="login-overlay">
    <div class="logo">
        Miftah
        <br/>
        <span class="smaller"></span>
    </div>
    <div class="form-container shadow">
        <div class="icon">
            <i class="mdi mdi-account-circle"></i>
            <div class="header">Login</div>
        </div>
        <form name="loginForm" ng-submit="LoginNow()" novalidate class="inputs">
            <div  style="display: flex; justify-content: center;">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
                    <md-input-container flex>
                        <label>Email</label>
                        <input type="text" ng-model="user.email">
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>Password</label>
                        <input ng-model="user.password" type="password">
                    </md-input-container>
                </div>
            </div>
            <div class="buttons">
                <!-- <md-checkbox ng-model="user.remember" aria-label="Remember Me">
                    Remember Me
                </md-checkbox> -->
                <!-- <span class="signup">
                    <a href="../#">Home</a>
                </span> -->
                <div class="links">
                    <button type="submit" ng-disabled="isProcessing" class="md-raised md-button primary md-primary">
                        <span ng-hide="load">Login</span>
                        <span ng-show="load"><md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <footer class="login-footer">
        <div class="left-section">
            aditek solutions © Copyright 2019
        </div>

        <div class="right-section">
            Terms and Conditions Apply
        </div>
    </footer>
</div>
