<md-dialog style="width: 60%" aria-label="add to repo"  ng-cloak>
    <form name="addRepoForm" ng-submit="AddToRepo(repo)";>
        <md-toolbar>
            <div class="md-toolbar-tools primary">
                <!--<h2>{{event.name}}</h2>-->
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="mdi mdi-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div id="exportthis"  class="mdl-cell mdl-cell--12-col" style="background: white; padding: 20px;">
                    <div  style="width:500px;height:300px;border: 1px solid #000;position: relative;">
                        <table style="width:100%;padding:20px;">
                            <tr>
                                <td style="width: 20%;">
                                    <img src="{{print_event.logo_url}}"  style="width:100%;height:auto" alt="">
                                </td>
                                <td style="width:100%;text-align:center;">
                                   <h2>Welcome to {{print_event.name}}</h2>
                                </td>
                            </tr>
                        </table>
                        <div style="width:100%;margin-top:40px;text-align: center">
                            <h1>{{print_attendee.name}}</h1>
                        </div>
                    </div>
                </div>
                <div id="editor"></div>
                <a target="_blank" class="md-button primary md-raised" ng-click="printDoc('exportthis');" >print</a>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>

